{{ partial "head.html" . }}
<!-- <main class="posts"> -->
<main>
<article class="post">
  <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
  <p class="small gray"><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 02, 2006" }}</time></p>
  {{ .Content }}
</article>
</main>
{{ partial "foot.html" . }}
