<!doctype html> 
<html lang="{{ .Site.LanguageCode }}"> 
<head>
  <meta charset="utf-8">
  <title>{{ .Site.Title }}</title>
  <meta name="author" content="{{ .Site.Author.name }}">
  <meta name="description" content="{{ .Site.Params.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Icons -->
  <link rel="icon" href="{{ "favicon.png" | relURL }}" />
  
  <!-- CSS Style -->
  <link rel="stylesheet" href="{{ "style.css" | relURL }}" />
  {{ if isset .Site.Params "customCSS" }}
  <link href='{{ .Site.BaseURL }}{{ .Site.Params.customCSS }}' rel='stylesheet' type='text/css'>
  {{ end }}
  {{ if eq .Site.Params.googleFont true }}
  <!-- Load Google Font Merriweather -->
  <link href='//fonts.googleapis.com/css?family=Merriweather:400,700' rel='stylesheet' type='text/css'>
  {{ end }}

</head>

<body class="{{ with .Site.Params.pageLayoutClass }}{{ . }}{{ end }}">

  {{ if or (isset .Site.Params "headerGraphic") (isset .Site.Params "headerHTML") }}
  <div class="header center">
    {{ if isset .Site.Params "headerHTML" }}
    <p> {{ .Site.Params.headerHTML | safeHTML }} </p>
    {{ end }}
    {{ if isset .Site.Params "headerGraphic" }}
    <a href="/">
      <img src="{{ .Site.BaseURL }}{{ .Site.Params.headerGraphic }}" alt="{{ .Site.Params.headerGraphicAlt }}" title="{{ .Site.Params.headerGraphicTitle }}"/>
    </a>
    {{ end }}
  </div>
  {{ end }}

  <div class="wrap">
    <header class="mb">
      <h2 class="h2 m-0"><a href="{{ "/" | relURL }}">{{ .Site.Title }}</a></h2>
      <p class="site-description">{{ .Site.Params.description }}</p>
    </header>
