{{ partial "head.html" . }}
<main class="posts">
  <article class="post">
    <h1>404 Not Found</h1>
    <p>Sorry, but we couldn't find the page you're looking for.</p>
  </article>
</main>
{{ partial "foot.html" . }}
