/* Styles for Heathen - A Hyperminimal Hugo Theme */

/* BASSCSS Reset - http://jxnblk.github.io/basscss */
body, h1, h2, h3, h4, h5, h6, dl, ol, ul, p,
button, input, select, textarea {
  margin: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display: block;
}


body {
  color: #000;
  font-size: larger;
  line-height: 1.75;
  font-family: 'Merriweather', serif;
}

.header p, footer p { text-align: left; }

h1, h2, h3, h4, h5, h6 { line-height: 1.25; }
h1, .h1 {
  margin-bottom: 2em;
}
h2, .h2, h3, .h3, h4, h5, h6 { 
  margin-bottom: 1em;
}
p, ol, ul, .p {
  margin-bottom: 2em;
}
small, .small { font-size: 1em; }

a { color: #09c; text-decoration: none; }
a:hover { color: #069; }
h1 a, h2 a { color: #000; }

footer p,
.wrap {
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
  padding: 32px 5% 64px 5%;
}

.m-0 { margin-top: 0; margin-bottom: 0; }
.mb { margin-bottom: 64px; }

.post { margin-bottom: 96px; }
.post img { max-width: 100%; }

.center { text-align: center; }
.fl { float: left; }
.fr { float: right; }

.gray { color: #999; }

.site-description { margin-bottom: 8em; }
